.navbarheader {
	font-family:"Freestyle Script", Helvetica, sans-serif;
	font-size:25pt;
	background-color:black;
	color:yellow;
	text-shadow: 1px 2px 4px #ffffff;
	width:1024px;
	
	
}
.navbarheader .navbar-brand {
	padding-left:10px;
	font-family:"French Script MT",Helvetica, sans-serif;
	font-size:40pt;
	color:yellow;
	text-shadow: 2px 2px 4px #ffffff;
	
	
}
body {
		background: #222;
		margin: 0;
	}
	
.formimage {
	padding-right:40px;
}
.thumbnails img {
		height: 80px;
		border: 4px solid #555;
		padding: 1px;
		margin: 0 10px 10px 0;
	}

.thumbnails img:hover {
		border: 4px solid purple;
		cursor:pointer;
	}

.preview img {
		border: 4px solid #444;
		padding: 1px;
		width: 800px;
	}
.gallerystyle {
	padding-right:100px;
	height:2000px;
	background:#dfdfde;
	opacity: 0.9;
}
.dropstyle {
	font-size:20px;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
	width:1024px;
	height:700px;
}
#bg {
  position: fixed; 
  top: 0px;
  left:0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.accountarea {
	height:350px;
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    opacity: 0.9;
    top:0;
    position: center;
    color: #ffffff; 
	padding-left:80px;
	border-color:#550085;
	
}
.accountstyle {
	color:black;
	
}

.intro{
	
	font-family:"verdana",Helvetica, sans-serif;
	text-indent: 180px;
	font-size:15px;
	text-align: justify;
    text-justify: inter-word;
	
}

h1 {
	font-family:"Bradley Hand ITC", Helvetica, sans-serif;
	font-size:16pt;
	padding-left:200px;
	text-shadow: 1px 2px 4px #eec1e1;	
	padding-top:20px;
	
	
}
td{
	padding-left:10px;
	padding-bottom:30px;
}

h2{
	
	padding-left:150px;
	padding-top:0;
	padding-bottom:10px;
	color:yellow;
	font-family:Gungsuh;
  
	
}
h3{
	font-family:"Segoe Marker", Helvetica, sans-serif;
	font-size:20pt;
	color:yellow;
	text-shadow:1px 1px 0px #purple;
	padding-left:80px;
	padding-bottom:10px;
	
}
h4 {
	font-family:"Segoe Marker", Helvetica, sans-serif;
	font-size:20pt;
	color:#ffffff;
	
	
}
h6 {
	font-size:20px;
	padding-left:350px;
	padding-bottom:20px;
	
	font-family:"Bradley Hand ITC", Helvetica, sans-serif;
	color:white;
}


.thumbnail{
    padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
	height:1500px;
	background-color:black;
	

}

.details {
	font-family:"Estrangelo Edessa", Helvetica, sans-serif;
	font-size:14pt;
    position: absolute; 
    z-index: 2; 
    top: 100px;
	padding-left:250px;
    color: #ffffff; 
}
.slidestyle {
	padding-left:0px;
	padding-right:150px;
	height:460px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height:400px;
      width: 100% ;
     
  }
.ask {
	color:white;
	font-family:verdana;
	padding-top:10px;
	padding-bottom:10px;
}
.whatsnewstyle  {
	background:black;
    position: center;
    color: yellow; 
	border-width:5px;
	border-color:black;
	height:500px;
}
.favorstyle {
	background:black;
    position: center;
    color: black; 
	border-width:5px;
	border-color:black;
	height:500px;
	
	
}
button {
	padding-left:450px;
	padding-right:450px;
	color:white;
	background-color:black;
}
.logout {
	background:black;
    position: center;
    color: black; 
    padding-right:20px;
	border-width:5px;
	border-color:black;
	height:250px;
	
}
.detailfooter {
	margin:0 0 0 0;
	background: black;
    opacity: 0.9;
    position: center;
    color: white; 
	height:200px;
	border-color:black;
}

.navbarfooter {
	font-family:verdana;
	font-size:7pt;
	padding-left:350px;
	padding-top:20px;
	background-color:black;
	color:white;
	text-shadow: 1px 2px 4px #ffffff;
	width:1024px;
	position:bottom;
	
}
.changeim :hover {
	padding-bottom:10px;
	
    -webkit-filter:grayscale(0%);
    transition: -webkit-filter .3s linear;
   
    -webkit-filter:grayscale(75%);
    
}

.footer {
	
	background-color:black;
	width:1024px;
    position: bottom;
    height: 50px;
	padding-top:10px;
}
